---
import {drizzle} from 'drizzle-orm/d1';
import {eq} from 'drizzle-orm';
import * as schema from '@/db/schema';
import ExploreInterface from '@/components/features/explore/ExploreInterface.tsx';
import Layout from "@/components/layout/Layout.astro";
import type {CourseWithSchedules} from "@/db/schema";
import {env} from "cloudflare:workers";
import {limitPerPage} from "@/constants/config.ts";
import {getCourseSearchConfig} from "@/lib/course/query.ts";
import {createTranslationHelper} from "@/lib/translation/utils.ts";
import {type Language} from "@/lib/translation/ui.ts";

interface Props {
    lang: Language;
}

const {user, selectedYear, selectedTerm, lang} = Astro.locals;
const db = drizzle(env.timetable_icu, {schema});
const {t, currentLang} = createTranslationHelper(lang)

const url = new URL(Astro.request.url);
if (!url.searchParams.has('year')) url.searchParams.set('year', selectedYear.toString());
if (!url.searchParams.has('term')) url.searchParams.set('term', selectedTerm);

const {where, page, filters} = getCourseSearchConfig(url, db);

const [allCategories, rawResults] = await Promise.all([
    db.select().from(schema.categories).all(),
    db.query.courses.findMany({
        where,
          with: {schedules: true},
        orderBy: (courses, {asc}) => [asc(courses.courseCode)], // courseCode順, ELAが最初にでないように
        limit: limitPerPage + 1,
        offset: (page - 1) * limitPerPage,
    }),
]);

const hasNextPage = rawResults.length > limitPerPage;
const results = hasNextPage ? rawResults.slice(0, limitPerPage) : rawResults;

let userCourseIds: number[] = [];
if (user) {
    const userCoursesData = await db
        .select({id: schema.userCourses.courseId})
        .from(schema.userCourses)
        .where(eq(schema.userCourses.userId, user.id))
        .all();
    userCourseIds = userCoursesData.map(uc => uc.id);
}

Astro.response.headers.set('Content-Type', 'text/html; charset=utf-8');
---

<Layout title=`${t('explore.title')} | ${t('site.title')}`>
    <section class="max-w-7xl mx-auto px-4 py-6">
        <ExploreInterface
                client:load
                initialResults={results as CourseWithSchedules[]}
                initialFilters={filters}
                isLoggedIn={!!user}
                categories={allCategories}
                initialUserCourseIds={userCourseIds}
                user={user}
                hasNextPage={hasNextPage}
                lang={currentLang}
        />
    </section>
</Layout>