---
import Logo from "@/assets/Logo.svg";
import "@/styles/global.css";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import Toast from "@/components/common/Toast.tsx";
import {TriangleAlert} from "lucide-astro";
import {createTranslationHelper} from "@/lib/translation/utils.ts";

const locals = Astro.locals ?? {};
const user = locals.user ?? null;
const dbError = locals.dbError || false;

const {t, l, currentLang} = createTranslationHelper(locals.lang);

const {
    title = t('site.title'),
    description = t('site.description'),
    ogImage = "https://timetable.icu/ogp.png",
    ogType = "website",
    isLanding = false,
} = Astro.props;

const {pathname, href} = Astro.url;

// /en/explore -> /explore
// /en -> /
// / -> /
let purePath = pathname.replace(/^\/en(\/|$)/, '$1');
if (!purePath.startsWith('/')) purePath = '/' + purePath;

const baseUrl = "https://timetable.icu";
const jaUrl = new URL(purePath, baseUrl).href;
const enUrl = new URL('/en' + purePath, baseUrl).href;

const baseFormUrl = "https://docs.google.com/forms/d/e/1FAIpQLSe_76F-MOJhkuG0346otCkCn3KlSqTTHXulhTNGNozNRXUqdg/viewform";
const formUrl = `${baseFormUrl}?usp=pp_url&entry.1846364970=${encodeURIComponent(href)}`;
---
<!doctype html>
<html lang={currentLang}>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="generator" content={Astro.generator}/>

    <title>{title}</title>
    <meta name="description" content={description}/>
    <link rel="canonical" href={new URL(Astro.url.pathname, baseUrl).href}/>

    <link rel="alternate" hreflang="ja" href={jaUrl}/>
    <link rel="alternate" hreflang="en" href={enUrl}/>
    <link rel="alternate" hreflang="x-default" href={jaUrl}/>

    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:type" content={ogType}/>
    <meta property="og:url" content={Astro.url.href}/>
    <meta property="og:image" content={ogImage}/>
    <meta property="og:site_name" content={t('site.title')}/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content={ogImage}/>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/manifest.webmanifest"/>
</head>
<body class="min-h-screen flex flex-col">

{
    (!isLanding && dbError) && (
                <div class="p-4 container mx-auto">
                    <div role="alert" class="alert alert-warning shadow-lg">
                        <TriangleAlert/>
                        <div>
                            <h3 class="font-bold">{t('error.db.title')}</h3>
                            <div class="text-xs">
                                {t('error.db.description')}
                            </div>
                        </div>
                    </div>
                </div>
    )
}
<Toast user={user} lang={currentLang} client:load />
{!isLanding && <Header user={user}/>}
<main class="grow min-h-0">
    <slot/>
</main>
{!isLanding
    ? <Footer/>
    : (
        <footer class="footer md:footer-horizontal bg-neutral text-neutral-content p-10">
            <aside class="flex flex-col gap-4">
               <Logo
                    width={40}
                    height={40}
            />
                <p class="font-black text-lg block">
                  {t('site.title')}
                </p>
            </aside>
            <nav>
                <h6 class="footer-title">Features</h6>
                <a href={l('/explore')} class="link link-hover">{t('lp.nav.explore')}</a>
                <a href={l('/timetable')} class="link link-hover">{t('lp.nav.timetable')}</a>
                <a target="_blank" href={formUrl} class="link link-hover">
                    {t('footer.support')}</a>
            </nav>
            <nav>
                <h6 class="footer-title">Legal/Others</h6>
                <a href="/terms" class="link link-hover">{t('footer.terms')}</a>
                <a href="/privacy" class="link link-hover">  {t('footer.privacy')}</a>
                <a target="_blank" href="https://github.com/ItsukiKigoshi/timetable.icu" class="link link-hover">GitHub</a>
            </nav>
            <nav>
                <h6 class="footer-title">Official Sites</h6>
                <a target="_blank" href="https://portal.icu.ac.jp/" class="link link-hover">ICU Portal</a>
                <a target="_blank" href="https://campus.icu.ac.jp/icumap" class="link link-hover">icuMAP</a>
                <a target="_blank" href="https://sites.google.com/icu.ac.jp/icu-ehandbook/" class="link link-hover">ehandbook</a>
            </nav>
            <nav>
                <h6 class="footer-title">Official Resources</h6>
                <a target="_blank" href="https://office.icu.ac.jp/ctl/aps/index.html" class="link link-hover">Academic Planning Support</a>
                <a target="_blank" href="https://sites.google.com/icu.ac.jp/aps/home/" class="link link-hover">Academic Planning Handbook</a>
                <a target="_blank" href="https://sites.google.com/icu.ac.jp/major-information/home" class="link link-hover">Major Information Site</a>
            </nav>
        </footer>
)}
</body>
</html>