---
import Layout from "@/layouts/Layout.astro";
import {useLanguage} from "@/translation/utils.ts";
import {defaultLang} from "@/translation/ui.ts";
import {Image} from "astro:assets";
import Secret1 from "@/assets/secret1.webp";
import Secret2 from "@/assets/secret2.webp";

const lang = Astro.locals.lang || defaultLang;
const {t, l} = useLanguage(lang);
---
<Layout title={`404 - ${t('404.title')}`}>
    <section class="space-y-6 p-6">
        <h1 class="text-5xl font-extrabold">404 - {t('404.title')}</h1>
        <h2 class="text-2xl sm:text-3xl font-bold ">
            {t('404.message')}
        </h2>
        <p class="text-sm sm:text-base leading-relaxed">
            {t('404.secret')}
        </p>
        <p class="mt-4  font-medium not-italic">
            {t('404.closing')}
        </p>
    </section>
    <aside aria-hidden="true" class="fixed inset-0 -z-10 overflow-hidden pointer-events-none select-none">
        <Image
                src={Secret2}
                alt=""
                width={800}
                format="webp"
                loading="eager"
                class="absolute -top-2 -right-2  w-150 md:w-225 rotate-12"
        />
        <Image
                src={Secret1}
                alt=""
                width={1200}
                format="webp"
                loading="eager"
                class="absolute -bottom-2 -left-2 w-185 md:w-200 -rotate-12"
        />
    </aside>
</Layout>