---
import {Image} from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Logo from "@/assets/Logo.svg";
import ProfileImg from "@/assets/profile.webp";
import Cover1 from "@/assets/cover1.webp";
import Cover2 from "@/assets/cover2.webp";
import {
    Bug,
    CalendarCheck2,
    CalendarPlus,
    Search,
    Telescope,
    RefreshCcw,
    ThumbsUp,
    Calendar,
    CalendarArrowUp
} from "lucide-astro";
import {WifiOff} from "lucide-react";

// Landing Page is Rendered as SSG
export const prerender = true;
---

<Layout title="ICUのじかんわり | 時間割・履修登録ツールの決定版" isLanding={true}>
    <!--背景画像-->
    <aside aria-hidden="true" class="fixed inset-0 -z-10 overflow-hidden pointer-events-none select-none ">
        <Image
                src={Cover1}
                alt=""
                width={800}
                sizes="(max-width: 768px) 400px, 800px"
                quality={50}
                format="webp"
                loading="eager"
                class="absolute -top-10 -right-10 w-185 md:w-200 rotate-12"
        />
        <Image
                src={Cover2}
                alt=""
                height={800}
                sizes="(max-width: 768px) 400px, 800px"
                quality={50}
                format="webp"
                loading="eager"
                class="absolute -bottom-40 -left-20 w-150 md:w-225 -rotate-12"
        />
    </aside>

    <!--Main Content-->
    <section class="flex flex-col items-center gap-16 p-6 max-w-5xl mx-auto mb-20 min-h-screen relative">
        <!--Hero-->
        <section
                class="hero bg-base-200/70 backdrop-blur-xl rounded-[3.5rem] p-10 md:p-20 shadow-2xl w-full max-w-7xl mx-auto mt-12 border border-white/20"
        >
            <header class="hero-content flex-col lg:flex-row gap-12 lg:gap-20">
                <Logo
                        width={200}
                        height={200}
                        class="drop-shadow-2xl"
                />
                <div class="text-center lg:text-left">
                    <h1 class="text-3xl md:text-4xl font-extrabold tracking-tighter leading-tight text-base-content">
                        ICUのじかんわり
                        <span
                                class="block text-md md:text-2xl lg:inline lg:ml-4  opacity-80"
                        >へようこそ！</span
                        >
                    </h1>
                    <p class="py-4 text-sm md:text-lg font-medium opacity-70 leading-relaxed max-w-3xl">
                        ICU生の時間割、履修登録ツールの決定版
                    </p>
                    <div class="flex flex-wrap justify-center lg:justify-start gap-4">
                        <a
                                href="/explore"
                                class="btn btn-primary btn-md rounded-full px-12"
                        >
                            <Telescope size="24"/>
                            <span>コースを探す</span>
                        </a>
                        <a
                                href="/timetable"
                                class="btn btn-neutral btn-md rounded-full px-12"
                        >
                            <Calendar size="24"/>
                            <span>時間割を見る</span>
                        </a>
                    </div>
                </div>
            </header>
        </section>

        <!--できること & できないこと-->
        <section class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
            <section class="flex flex-col gap-4">
                <h2
                        class="flex items-center gap-3 text-2xl font-black px-2"
                >
                    <ThumbsUp size="32"/>
                    できること
                </h2>
                <section class="bg-base-100 border border-base-200 rounded-4xl overflow-hidden shadow-sm grow">
                    <ul class="divide-y divide-base-200">
                        <li class="p-6 flex gap-5">
                            <div class="text-primary bg-primary/10 p-3 rounded-2xl h-fit">
                                <Search size="24"/>
                            </div>
                            <div>
                                <h3 class="font-bold text-lg">すべてのコースから探す</h3>
                                <p class="text-sm opacity-70 leading-relaxed">
                                    公式授業一覧から取得されたすべてのコースを検索
                                </p>
                            </div>
                        </li>
                        <li class="p-6 flex gap-5">
                            <div class="text-primary bg-primary/10 p-3 rounded-2xl h-fit">
                                <CalendarCheck2 size="24"/>
                            </div>
                            <div>
                                <h3 class="font-bold text-lg">
                                    ICU独自のスケジュールに対応した時間割
                                </h3>
                                <p class="text-sm opacity-70 leading-relaxed">
                                    Long 4, 5, 6, 7など、ICUならではのコマ割りも表示
                                </p>
                            </div>
                        </li>
                        <li class="p-6 flex gap-5">
                            <div class="text-primary bg-primary/10 p-3 rounded-2xl h-fit">
                                <RefreshCcw size="24"/>
                            </div>
                            <div>
                                <h3 class="font-bold text-lg">
                                    マルチデバイス同期
                                </h3>
                                <p class="text-sm opacity-70 leading-relaxed">
                                    ログインしてすべてのデバイスで最新の時間割を共有
                                </p>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>

            <section class="flex flex-col gap-4">
                <h2 class="flex items-center gap-3 text-2xl font-black text-base-content/40 px-2">
                    <Bug size="32"/>
                    検討中
                </h2>
                <section class="bg-base-100 border border-base-200 rounded-4xl overflow-hidden grow">
                    <ul class="divide-y divide-base-200">
                        <li class="p-6 flex gap-5">
                            <div class="bg-base-content/10 p-3 rounded-2xl h-fit opacity-50">
                                <WifiOff size="24"/>
                            </div>
                            <div>
                                <h3 class="font-bold text-lg">
                                    オフライン表示
                                </h3>
                                <p class="text-sm opacity-70 leading-relaxed">
                                    閲覧にはインターネット接続が必要
                                </p>
                            </div>
                        </li>
                        <li class="p-6 flex gap-5">
                            <div class="bg-base-content/10 p-3 rounded-2xl h-fit opacity-50">
                                <CalendarPlus size="24"/>
                            </div>
                            <div>
                                <h3 class="font-bold text-lg">
                                    独自コースの追加
                                </h3>
                                <p class="text-sm opacity-70 leading-relaxed">
                                    現在は公式提供コースのみ．カスタム追加機能も検討中
                                </p>
                            </div>
                        </li>
                        <li class="p-6 flex gap-5">
                            <div class="bg-base-content/10 p-3 rounded-2xl h-fit opacity-50">
                                <CalendarArrowUp size="24"/>
                            </div>
                            <div>
                                <h3 class="font-bold text-lg">
                                    カレンダー連携
                                </h3>
                                <p class="text-sm opacity-70 leading-relaxed">
                                    外部カレンダーへの書き出し機能を検討中
                                </p>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>
        </section>

        <section
                class="bg-base-200/80 rounded-[2.5rem] p-8 md:p-10 w-full shadow-sm border border-base-200 flex flex-col md:flex-row items-center gap-10"
        >
            <Image
                    src={ProfileImg}
                    alt="Itsuki Kigoshi"
                    width={256}
                    height={256}
                    format="webp"
                    quality={80}
                    class="w-32 h-32 rounded-3xl ring overflow-hidden shadow-2xl"
            />
            <address class="text-center md:text-left flex-1">
                <h2 class="text-2xl font-black mb-4 items-center gap-2">
                    <span>Made with ♥ by</span>
                    <a
                            href="https://itsukikigoshi.github.io/"
                            target="_blank"
                            class="underline"
                    >
                        Itsuki Kigoshi
                    </a>
                </h2>
                <p class="text-sm md:text-base leading-relaxed opacity-80 mb-6">
                    ICU '27が愛を込めてお届け🏔️ <br/>
                    開発協力者を募集中！<br/>
                    デザイン，広報，コーディングなどに興味がある方はぜひ
                    <a
                            class="inline-flex items-center gap-1 underline transition-colors"
                            href="mailto:itsukikigoshi+timetableicu@gmail.com"
                    >
                        ご連絡
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-mail opacity-70"
                        >
                            <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
                            <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                        </svg>
                    </a>
                    を。
                </p>
            </address>
        </section>
        <footer class="flex justify-center gap-8 text-sm opacity-60">
            <a href="/privacy" class="underline">Privacy Policy</a>
            <a href="/terms" class="underline">Terms of Service</a>
        </footer>
    </section>
</Layout>
