---
import {drizzle} from "drizzle-orm/d1";
import * as schema from "@/db/schema.ts";
import {type Course, daysEnum, type FlatSchedule} from "@/db/schema.ts";
import TimetableInterface from "@/components/TimetableInterface";
import {env} from "cloudflare:workers";
import {and, eq, getTableColumns} from "drizzle-orm";
import Layout from "@/layouts/Layout.astro";
import {DEFAULT_TERM, DEFAULT_YEAR, END_TIME, START_TIME} from "@/constants/time.ts";
import {computeProcessedSchedules} from "@/lib/timetable.ts";

const user = Astro.locals.user;
const url = new URL(Astro.request.url);

const selectedYear = parseInt(url.searchParams.get('year') || "") || DEFAULT_YEAR;
const selectedTerm = (url.searchParams.get('term') || DEFAULT_TERM) as Course['term'];

let flatSchedules: FlatSchedule[] = [];

// --- Get User's Timetable ---
if (user) {
    const db = drizzle(env.timetable_icu, {schema});

    const rows = await db
        .select({
            course: getTableColumns(schema.courses),
        })
        .from(schema.userCourses)
        .innerJoin(
            schema.courses,
            eq(schema.userCourses.courseId, schema.courses.id)
        )
        .where(
            and(
                eq(schema.userCourses.userId, user.id),
                eq(schema.courses.year, selectedYear),
                eq(schema.courses.term, selectedTerm)
            )
        );

    const courseIds = rows.map(r => r.course.id);

    if (courseIds.length > 0) {
        const coursesWithSchedules = await db.query.courses.findMany({
            where: (c, {inArray}) => inArray(c.id, courseIds),
            with: {schedules: true}
        });

        flatSchedules = coursesWithSchedules.flatMap((course) =>
            course.schedules.map((s) => ({
                ...course,
                ...s,
            }))
        );
    }
}

const processedSchedules = computeProcessedSchedules(flatSchedules);
---
<Layout title="あいしーゆーのじかんわり">
<form method="GET" class="flex gap-2 mb-4">
    <label>
        <select name="year" onchange="this.form.submit()" class="border p-1 rounded">
            <option value="2026" selected={selectedYear === 2026}>2026</option>
            <option value="2027" selected={selectedYear === 2027}>2027</option>
        </select>
    </label>
    <label>
        <select name="term" onchange="this.form.submit()" class="border p-1 rounded">
            <option value="Spring" selected={selectedTerm === 'Spring'}>春学期</option>
            <option value="Autumn" selected={selectedTerm === 'Autumn'}>秋学期</option>
            <option value="Winter" selected={selectedTerm === 'Winter'}>冬学期</option>
        </select>
    </label>
</form>
<TimetableInterface processedSchedules={processedSchedules} user={user} client:load/>
</Layout>