---
import LoginButton from "./LoginButton";
import PasskeyButton from "./PasskeyButton.tsx";
import {SELECTABLE_YEARS, SELECTABLE_TERMS} from "@/constants/time.ts";
import Logo from '@/assets/Logo.svg';

const {user, selectedYear, selectedTerm} = Astro.locals;
const isLoggedIn = !!user;
---
<header class="navbar sticky top-0 z-100 bg-base-100 shadow-sm">
    <!-- Left - Title -->
    <div class="navbar-start">
        <a class="btn btn-ghost text-xl flex gap-2 px-2" href="/">
            <Logo width={24} height={24}/>
            <span class="hidden sm:inline">ICUのじかんわり</span>
        </a>
    </div>
    <!-- Center - Term Selector -->
    <div class="navbar-center flex gap-2">
        <form method="GET" class="flex gap-1 items-center">
            <select
                    name="year"
                    onchange="this.form.submit()"
                    class="select select-bordered select-sm md:select-md w-fit font-bold"
                    autocomplete="off"
            >
                {SELECTABLE_YEARS.map(y => (
                        <option value={y} selected={Number(selectedYear) === y}>
                            {y}
                        </option>
                ))}
            </select>
            <select
                    name="term"
                    onchange="this.form.submit()"
                    class="select select-bordered select-sm md:select-md w-fit font-bold"
                    autocomplete="off"
            >
                {SELECTABLE_TERMS.map(t => (
                        <option value={t.en} selected={selectedTerm === t.en}>
                            {t.en} </option>
                ))}
            </select>

        </form>
    </div>

    <!-- Right - Login Button -->
    <nav class="navbar-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" class="btn btn-ghost btn-circle avatar">
                {user?.image ? (
                        <div class="w-12 rounded-full shadow-md">
                            <img src={user.image} alt="User Avatar"/>
                        </div>) : (
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-user-round-icon lucide-user-round">
                            <circle cx="12" cy="8" r="5"/>
                            <path d="M20 21a8 8 0 0 0-16 0"/>
                        </svg>
                )
                }
            </div>
            <div tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                <h3>{user ? (`Hi, ${user?.name}!`) : ("ログイン")}</h3>
                <p>{user ? ("データがすべてのデバイスで同期されます") : ("ログインすることでデータがすべてのデバイスで同期されます")}</p>
                <LoginButton client:load isLoggedIn={isLoggedIn}/>
                <PasskeyButton client:load isLoggedIn={isLoggedIn}/>
            </div>
        </div>
    </nav>
</header>