---
import LoginButton from "./LoginButton";
import {Passkey} from "./Passkey";
const {user} = Astro.locals;
const isLoggedIn = !!user;
---
<div>
    <h1>Timetable.icu</h1>
    <div>
        <a href="/">Home</a>
        <a href="/search">Search</a>
    </div>
    <nav>
        {user ? <span>Hi, {user.name}!</span> :
                <span>ICU Net IDでログインしてください!Google OAuthを使うためパスワードは取得されません</span>}
        <LoginButton client:load isLoggedIn={isLoggedIn}/>
        <Passkey client:load isLoggedIn={isLoggedIn}/>
    </nav>
</div>