---
import {drizzle} from "drizzle-orm/d1";
import * as schema from "@/db/schema.ts";
import Layout from "@/layouts/Layout.astro";
import {env} from "cloudflare:workers";
import TimetableInterface from "@/components/TimetableInterface.tsx";
import type {FlatSchedule} from "@/db/schema.ts";
import {type Language} from "@/translation/ui.ts"
import {useTranslations} from "@/translation/utils.ts";

interface Props {
    lang: Language;
}

const {user, selectedYear, selectedTerm, lang} = Astro.locals;
const t = useTranslations(lang);

// 1. スコープの外側で空配列として初期化しておく
let flatSchedules = [] as FlatSchedule[];

if (user) {
    const db = drizzle(env.timetable_icu, {schema});

    const userCoursesWithDetails = await db.query.userCourses.findMany({
        where: (uc, {eq}) => eq(uc.userId, user.id),
        with: {
            course: {
                with: {
                    schedules: true
                }
            }
        }
    });

    flatSchedules = userCoursesWithDetails
        .filter(uc => uc.course.year === selectedYear && uc.course.term === selectedTerm)
        .flatMap(uc =>
            uc.course.schedules.map((s) => ({
                ...uc.course,
                ...s,
                courseId: uc.course.id,
                scheduleId: s.id
            }))
        );
}
---

<Layout title=`${t('timetable.title')} | ${t('site.title')}`>
    <div class="overflow-hidden p-2 md:px-6 max-w-7xl mx-auto">
        <TimetableInterface
                initialRawSchedules={flatSchedules}
                user={user}
                lang={lang}
                client:load
        />
    </div>
</Layout>