---
import "@/styles/global.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import {TriangleAlert} from "lucide-astro";
import {useLanguage} from "@/translation/utils.ts";

const locals = Astro.locals ?? {};
const user = locals.user ?? null;
const dbError = locals.dbError || false;

const {t, currentLang} = useLanguage(locals.lang);

const {
    title = t('site.title'),
    description = t('site.description'),
    ogImage = "https://timetable.icu/timetableicu-ogp.jpg",
    ogType = "website",
    isLanding = false,
} = Astro.props;

const {pathname} = Astro.url;

// /en/explore -> /explore
// /en -> /
// / -> /
let purePath = pathname.replace(/^\/en(\/|$)/, '$1');
if (!purePath.startsWith('/')) purePath = '/' + purePath;

const baseUrl = "https://timetable.icu";
const jaUrl = new URL(purePath, baseUrl).href;
const enUrl = new URL('/en' + purePath, baseUrl).href;
---
<!doctype html>
<html lang={currentLang}>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:type" content={ogType}/>
    <meta property="og:url" content="https://timetable.icu"/>
    <meta property="og:image" content={ogImage}/>
    <meta property="og:site_name" content={t('site.title')}/>
    <link rel="alternate" hreflang="ja" href={jaUrl}/>
    <link rel="alternate" hreflang="en" href={enUrl}/>
    <link rel="alternate" hreflang="x-default" href={jaUrl}/>
</head>
<body class="min-h-screen flex flex-col">

{
    (!isLanding && dbError) && (
                <div class="p-4 container mx-auto">
                    <div role="alert" class="alert alert-warning shadow-lg">
                        <TriangleAlert/>
                        <div>
                            <h3 class="font-bold">{t('error.db.title')}</h3>
                            <div class="text-xs">
                                {t('error.db.description')}
                            </div>
                        </div>
                    </div>
                </div>
    )
}

{!isLanding &&
        <Header user={user}/>}
<main class="grow min-h-0">
    <slot/>
</main>
{!isLanding &&
        <Footer class="z-50"/>}
</body>
</html>